$primary: #d0e8e6;
$secondary: #803093;
$shadow: #a9a9a9;
$textColor: #404040;

.formContainer{
    
    .containerRow{
        min-height: 100vh;
        width: 100vw;
    }
}
.form{
    label{
        color: $textColor;
    }
    .input{
        border: 3px solid $primary;
        box-shadow: 0 0 1px 0 $shadow;
        &:active, &:focus{
            border: 3px solid $primary;
            box-shadow: 0 0 1px 0 $shadow;
        }
    }
        /*CUSTOM SELECT MENU*/
    .customSelectContainer{
        position: relative;
        flex-direction: column;
        .select{
            flex-direction: column;
            .selectToggler{
                background-color: white;
                color: $textColor;
                border: 3px solid $primary !important;
                padding-right: 2.2rem;
                width: 168px;
                box-shadow: none !important;
                border-radius: .3rem .3rem 0 0;
                border-color: $primary !important;
                &:hover, &:active, &:focus{
                    background-color: white !important;
                    color: $textColor !important;
                    border: 3px solid $primary !important;
                    box-shadow: 0 !important;
                }
            }
            .arrow{
                position: absolute;
                top: 0;
                right: 0;
                width: 2rem;
                height: 100%;
                pointer-events: none;
                &::before{
                    content: '';
                    display: block;
                    width: 100%;
                    padding: 1rem;
                    height: 100%;
                    background-image: url('../assets/text-expand-arrow.svg');
                    background-size: .6rem;
                    background-repeat: no-repeat;
                    position: absolute;
                    transform: translate(50%, 25%);
                }
                
            }
            .selectMenu{
                padding: 0;
                border-radius: 0 0 .3rem .3rem;
                border: 3px solid $primary !important;
                border-top: 0 !important;
                box-shadow: 1px 0 1px 0 $primary;
                min-width: 10rem;
                .selectItem{
                    border: 3px solid $primary !important;
                    border-top: 0 !important;
                    border-left: 0 !important;
                    border-right: 0 !important;
                    padding: 0 1.5rem 0 1.5rem;
                    height: 2.5rem;
                    color: $textColor;
                    &:last-child{
                        border-bottom: 0 !important;
                    }
                    &:hover{
                        background-color: rgba($primary, 0.5);
                    }
                }
            }
        }
    }

        /*CUSTOM CHECKBOXES*/
    .checkboxLabel{
        display: inline-block;
        user-select: none;
        cursor: pointer;
        position: relative;
        padding-left: 2.5rem;
         /* On mouse-over, add a purple background color */
        &:hover input ~ .checkmark {
            background-color: $secondary;
           /* border: 0; BORDER 0 REMOVES THE BLUE BORDER*/
        }
            /* When the checkbox is checked, add a purple background */
        input:checked ~ .checkmark {
            background-color: $secondary;
            border: 0;
        }

        /* Show the checkmark when checked */
        input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .checkmark:after {
            left: 5px;
            top: 5px;
            width: 15px;
            height: 15px;
            background-position: center;
            background-size: cover;
            background-color: white;
            mask-image: url(../assets/check.svg);
        
        }
    }
    .customCheckbox{
        position: inherit;
        margin-left: 0;
        opacity: 0;
        cursor: pointer;
        position: absolute;
        height: 0;
        width: 0;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        border: 3px solid $primary;
        background-color: white;
        margin-right: .5rem;
        &::after{
            content: "";
            position: absolute;
            display: none;
        }
      }
      
    .submitBtn, .resetBtn{
        border-radius: 2rem;
        &:active, &:focus{
            border: 0;
            box-shadow: none;
        }
    }
    .submitBtn{
        background-color: $secondary;
        color: white;
        &:hover{
            background-color: white;
            color: $textColor;
        }
    }
    .resetBtn{
        color: $textColor;
        &:hover{
            background-color: $secondary;
            color: white;
        }
    }

}